<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <span class="h3">Listado de Autos</span>
        <button class="btn btn-dark btn-lg" routerLink="/crear">Agregar</button>
      </div>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año de Fabricante</th>
            <th scope="col">Dueño anterior</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (item of autos; track item) {
            <tr>
              <td>{{item.nombre}}</td>
              <td>{{item.marca}}</td>
              <td>{{item.modelo}}</td>
              <td>{{item.year}}</td>
              <td>{{item.duenio}}</td>
              <button type="button" class="btn btn-primary" [routerLink]="['/editar', item.id]">Editar</button>

              <button type="button" class="btn btn-danger" (click)="deleteAuto(item.id)">Eliminar</button>
            </tr>
          }

        </tbody>
      </table>
      <ul>


      </ul>
    </div>
  </div>
</div>
